<footer class="footer white-bg z-index-1 overflow-hidden bg-contain" data-bg-img="/design/images/pattern/01.png">
    <div class="round-p-animation"></div>
    <div class="primary-footer">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-4">
            <div class="ht-theme-info bg-contain bg-pos-r h-100 dark-bg text-white" data-bg-img="/design/images/bg/02.png">
              <div class="footer-logo">
                <a href="/">
                <img class="img-fluid" src="/images/black2.png" alt="" style="width: 250px;height: 125px;">
                </a>
              </div>
              <p class="mb-3">Your one-stop solution for academic writing, CVs, market reports, and captivating infographics.</p>
              <div class="social-icons social-border circle social-hover mt-5">
                <h4 class="title">Follow Us</h4>
                <ul class="list-inline">
                  <li class="social-facebook"><a href="https://www.facebook.com/wordCreation22"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="social-instagram"><a href="https://www.instagram.com/wordcreation22?igsh=MTlycTlkbmNsaDB6Ng=="><i class="fab fa-instagram"></i></a>
                  </li>
                  <li class="social-linkedin"><a href="https://www.linkedin.com/in/word-creation-051286266/"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8 py-8 px-5">
            <div class="row">
              <div class="col-lg-6 col-md-6 footer-list">
                <h4 class="title">Useful Links</h4>
                <div class="row">
                  <div class="col-sm-5">
                    <ul class="list-unstyled">
                      <li><a href="/services">Our Service</a>
                      </li>
                      <li><a href="/portfolio">Our Portfolio</a>
                      </li>
                      <li><a href="/blog">Blog</a>
                      </li>
                      
                    </ul>
                  </div>
                  <div class="col-sm-7">
                    <ul class="list-unstyled">
                     
                      <li><a href="/privacy-policy">Privacy Policy</a>
                      </li>
                      <li><a href="/terms-and-conditions">Terms & Condition</a>
                      </li>
                      <li><a href="/contact-us">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                <h4 class="title">Contact us</h4>
                <ul class="media-icon list-unstyled">
                  <li>
                    <p class="mb-0">42/2 Amrai, Belemath, Kandeswar Road, Durgapur 1, West Burdwan, 713203</p>
                  </li>
                  <li><a href="mailto:contact@wordcreation.in">contact@wordcreation.in</a>
                  </li>
                  <li><a href="tel:+917864047652">+91-786-404-7652</a>
                  </li>
                  <li><a href="tel:+919733404633">+91-973-340-4633</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-10 col-md-12 me-auto">
                <div class="align-items-center white-bg box-shadow px-3 py-3 radius d-md-flex justify-content-between">
                  <h4 class="mb-0">NewsLetter</h4>
                  <div class="subscribe-form sm-mt-2">
                    <form id="mc-form" class="group">
                      <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                      <input class="btn btn-theme" type="submit" name="subscribe" value="Subscribe">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-footer">
      <div class="container">
        <div class="copyright">
          <div class="row align-items-center">
            <div class="col-md-6"> <span>Copyright 2024 | All Rights Reserved</span>
            </div>
            <div class="col-md-6 text-md-end sm-mt-2">  <a href="/">Word Creation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <!--footer end-->
  
  
  </div>
  
  <!-- page wrapper end -->
  
  
  <!--back-to-top start-->
  
  <div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-upload"></i></a></div>
  
  <!--back-to-top end-->
  
   
  <!-- inject js start -->
  
  <!--== theme -->
  <script src="/design/js/theme.js"></script>
  
  <!--== magnific-popup -->
  <script src="/design/js/magnific-popup/jquery.magnific-popup.min.js"></script> 
  
  <!--== owl-carousel -->
  <script src="/design/js/owl-carousel/owl.carousel.min.js"></script> 
  
  <!--== counter -->
  <script src="/design/js/counter/counter.js"></script> 
  
  <!--== countdown -->
  <script src="/design/js/countdown/jquery.countdown.min.js"></script> 
  
  <!--== isotope -->
  <script src="/design/js/isotope/isotope.pkgd.min.js"></script> 
  
  <!--== mouse-parallax -->
  <script src="/design/js/mouse-parallax/tweenmax.min.js"></script>
  <script src="/design/js/mouse-parallax/jquery-parallax.js"></script> 
  
  <!--== wow -->
  <script src="/design/js/wow.min.js"></script>
  
  <!--== theme-script -->
  <script src="/design/js/theme-script.js"></script>
  
  <!-- inject js end -->
  
  </body>
  
  
  <!-- Mirrored from themeht.com/template/loptus/ltr/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 May 2024 13:25:38 GMT -->
  </html>