<%- include ('./header.ejs') %>

<link rel="stylesheet" href="https://elusiveicons.com/assets/elusive-icons/css/elusive-icons.css">


		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
		
			<div class="container-fluid">
				<!-- Row -->
				<div class="row">
					
					<div class="col-xl-12">
						<div class="filter cm-content-box box-primary">
							<div class="content-title">
								<div class="cpa">
									<i class="fa-solid fa-envelope me-1"></i>Add Blogs	
								</div>
								<div class="tools">
									<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
								</div>
							</div>
							<div class="cm-content-body form excerpt">
								<div class="card-body">
									
                  <form action="/admin/dashboard/blogs/add" method="post" enctype="multipart/form-data" class="uploadImage">

<div class="row">
    <div class="col-xl-12">
        <label  class="form-label">Title</label>
        <input type="text" class="form-control" id="name">
    </div>
  

</div>


<div class="row" style="margin-top: 20px;">
    <div class="col-xl-12">
        <label  class="form-label">Description</label>
        <textarea id="descriptionTextArea" class="form-control" rows="5"></textarea>
    </div>
  

</div>


<div class="row">
    <div class="col-xl-12" style="margin-top: 20px;">
        <label  class="form-label">Blog Features</label>
              <textarea id='admin_features'></textarea>
   </div>



<div class="col-xl-12" style="margin-top: 20px;">
  <label  class="form-label">Image</label>
        <input type="file" class="form-control" name="image" id="image" required>
</div>


</div>
                                        

                                       

										
									
										<div class="text-end" style="margin-top: 20px;">
											<button type="submit" class="btn btn-primary save">Save</button>
										</div>
									</div>


                </form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		
		
		
        <%- include ('./footer.ejs') %>



        <script src="https://cdn.ckeditor.com/4.7.0/full/ckeditor.js"></script>
        <script src="https://unpkg.com/vue@2.3.4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

        <script>
            var exampleArray = [
  {
    id: 100,
    user: "Carlos pira longo",
    date: "22/10/2016",
    content: "1 dato mas"
  },
  {
    id: 200,
    user: "Andres de lprimer",
    date: "22/10/2017",
    content: "2 datos mas"
  },
  {
    id: 300,
    user: "Daniel de segundo",
    date: "22/10/2014",
    content: "3 datos mas"
  }
];

var contenttext = '12';

// register modal component
Vue.component("history", {
  template: "#history-template",
  props: {
    history: {
      type: Array,
      required: true
    },
    value: {
      type: String
    },
  },
  

});


// start app
var vm = new Vue({
  el: "#loadHistorys",
  data: {
    hist: exampleArray,
    value: contenttext
  }
});

 CKEDITOR.replace('admin_features');




//  $('#submit').click(function(e) {
//   e.preventDefault();
//   alert('run')
//   let content = $("#editor").html().trim();
//   alert("VALUE SUBMITTED: \n" + content);  
// });

$('.uploadImage').submit(function (e) {
      e.preventDefault();
     
      const data = {
        blog_features: CKEDITOR.instances['admin_features'].getData(),
        description: $('#descriptionTextArea').val(),
        name: $('#name').val(),
        seo_name : $('#name').val().toLowerCase().replace(/\s+/g, '-'),
        category: $('#language').val(),
        status:'pending'

    };

    if(data.admin_features == '' || data.description == '' || data.name == '' || data.category == ''){
      alert('Mandatory Field Missing')
    }
    else{

  
      $(this).ajaxSubmit({
      
        contentType: 'application/json',
        data:data,
        success: function (response) {
          console.log(response)
             if (response.msg === 'success') {
        alert('Successfully updated');
        window.location.reload();
    } 
    else if(response.msg === 'exists'){
      alert('Blog Name Already Registered')
    } else {
        alert('Failed to update data');
    }
        }
      });
      return false;

    }
    });


//  $('.save').click(function() {
//     const data = {
//         admin_features: CKEDITOR.instances['admin_features'].getData(),
//         user_features: CKEDITOR.instances['user_features'].getData(),
//         other_features: CKEDITOR.instances['other_features'].getData(),
//         how_to_run: CKEDITOR.instances['readme_text'].getData(),
//         credentials: CKEDITOR.instances['login_credentials'].getData(),
//         description: $('#descriptionTextArea').val(),
//         name: $('#name').val(),
//         seo_name : $('#name').val().toLowerCase().replace(/\s+/g, '-'),
//         category: $('#language').val(),
//         status:'pending'

//     };

//     if(data.admin_features == '' || data.user_features == '' || data.how_to_run == '' || data.credentials == '' || data.description == '' || data.name == '' || data.category == ''){
//       alert('Mandatory Field Missing')
//     }
//     else{

//       console.log(data)

// $.post('/affiliate/dashboard/source_code/add', data)
// .done(function(response) {
//     if (response.msg === 'success') {
//         alert('Successfully updated');
//         window.location.reload();
//     } 
//     else if(response.msg === 'exists'){
//       alert('Project Name Already Registered')
//     } else {
//         alert('Failed to update data');
//     }
// })
// .fail(function() {
//     alert('An error occurred while processing your request');
// });
//     }


// });



$.getJSON(`/affiliate/dashboard/category/show`, data => {
    addgroup = data
    console.log('leagues',data)
    fillDropDown('language', data, 'Choose Language', 0)
  
})


function fillDropDown(id, data, label, selectedid = 0) {
    $(`#${id}`).empty()
    $(`#${id}`).append($('<option>').val("null").text(label))

    $.each(data, (i, item) => {
        if (item.id == selectedid) {
            $(`#${id}`).append($('<option selected>').val(item.seo_name).text(item.name))
        } else {
            $(`#${id}`).append($('<option>').val(item.seo_name).text(item.name))
        }
    })
}
        </script>
