<%- include ('./includes/header.ejs') %>




<!--header end-->


<!--page title start-->



<!--page title end-->


<!--body content start-->

<style>
	.form-group {
	  position: relative;
  }
  
  .eye-icon {
	  position: absolute;
	  top: 50%;
	  right: 10px;
	  transform: translateY(-50%);
	  cursor: pointer;
  }
  
  </style>

<div class="page-content" style="margin-top: 100px;">

<!--login start-->

<section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6 col-md-10">
        <div class="login-form box-shadow white-bg p-4 p-md-5">
          <h2 class="title mb-5">Login</h2>
          <p style="color: <%= color %>;font-weight:bold"><%= msg %></p>

          <form  method="post" action="/user/forgot-password">
            <div class="messages"></div>
            <div class="form-group">
              <input id="form_name" type="text" name="email" class="form-control" placeholder="User name" required="required" data-error="Username is required.">
              <div class="help-block with-errors"></div>
            </div>
           
            <div class="form-group mt-4 mb-5">
              <div class="remember-checkbox d-sm-flex align-items-center justify-content-between">
                <div class="form-check">
                  
            </div> <button type="submit" class="btn btn-theme btn-lg"><span>Forgot Password</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--login end-->


</div>

<!--body content end--> 

<%- include ('./includes/footer.ejs') %>


<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const passwordField = document.getElementById('form_password');
    const togglePassword = document.getElementById('togglePassword');

    togglePassword.addEventListener('click', function () {
        // Toggle the type attribute using getAttribute() method
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        
        // Toggle the eye icon
        this.textContent = type === 'password' ? '👁️' : '🙈';
    });
});

</script>

