<%- include ('./includes/header.ejs') %>


<nav id="ht-main-nav"> <a href="#" class="ht-nav-toggle active"><span></span></a>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="img-fluid side-logo mb-3" src="/design/images/logo.png" alt="">
          <p class="mb-5">Loptus - Digital Marketing Agency Responsive HTML5 Template is Most PowerFull template 2018 For Everyone, Start working with an company that provide everything you need to generate awareness.</p>
          <div class="form-info">
            <h4 class="title">Contact info</h4>
            <ul class="contact-info list-unstyled mt-4">
              <li class="mb-4"><i class="flaticon-location"></i><span>Address:</span>
                <p>423B, Road Wordwide Country, USA</p>
              </li>
              <li class="mb-4"><i class="flaticon-call"></i><span>Phone:</span><a href="tel:+912345678900">+91-234-567-8900</a>
              </li>
              <li><i class="flaticon-email"></i><span>Email</span><a href="mailto:themeht23@gmail.com"> themeht23@gmail.com</a>
              </li>
            </ul>
          </div>
          <div class="social-icons social-colored mt-5">
            <ul class="list-inline">
              <li class="mb-2 social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="mb-2 social-twitter"><a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="mb-2 social-linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li class="mb-2 social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <!--header end-->
  
  
  <!--page title start-->
  
  <section class="page-title overflow-hidden text-center light-bg bg-contain animatedBackground" data-bg-img="/design/images/pattern/05.png">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <h1 class="title">Refund Policy</h1>
         
        </div>
      </div>
    </div>
    <div class="page-title-pattern"><img class="img-fluid" src="/design/images/bg/06.png" alt=""></div>
  </section>
  
  <!--page title end-->


  <div class="page-content">
    <section class="contact-1" data-bg-img="/design/images/pattern/02.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h2><strong>Refunds/Cancellations Policy for Word Creation</strong></h2>
                    <p>At Word Creation, we strive to ensure 100% success with our digital products. We offer a refund policy that guarantees a 100% refund for any failed project, subject to the conditions outlined below.</p>

                    <h3>1. Eligibility for Refunds:</h3>
                    <p>Refunds are applicable only for digital products that have been marked as failed by the relevant academic authority. To request a refund, you must submit the failed report along with any comments provided by the evaluator.</p>

                    <h3>2. Refund Request Process:</h3>
                    <p>In the event of a failure, follow these three simple steps to request a refund:</p>
                    <ol>
                        <li>Submit the failed report (with comments).</li>
                        <li>Request a free resit for the assignment.</li>
                        <li>If the work fails again after the resit, request a refund.</li>
                    </ol>
                    <p>All refund requests must be accompanied by the official failed report. Vague claims without supporting documentation will not be processed.</p>

                    <h3>3. Non-Refundable Conditions:</h3>
                    <p>Refunds will not be processed for vague claims or if the failed report is not submitted. Customized assignments or personalized content are non-refundable after delivery.</p>

                    <h3>4. Processing Time:</h3>
                    <p>Approved refunds will be processed within 5-7 working days. The refunded amount will be credited to the original payment method used during the purchase.</p>

                    <h3>5. Contact Information:</h3>
                    <p>For any questions or concerns regarding our refund policy, please contact us at:</p>
                    <p>Email: <a href="mailto:Contact@wordcreation.in">Contact@wordcreation.in</a></p>
                    <p>Phone: <a href="tel:+917864047652">+917864047652</a></p>

                    <p>Please ensure that all refund requests are submitted with the necessary documentation to facilitate a smooth and prompt resolution.</p>
                </div>
            </div>
        </div>
    </section>
</div>



<%- include ('./includes/footer.ejs') %>
